Multiported     RAM     Architectural     Parameters   Simulation Results for Different Designs 
====================================================   =========================================
Memory   Data    Write   Read    Bypass   Simulation   XOR-based   Reg-LVT   SRAM-LVT   SRAM-LVT
Depth    Width   Ports   Ports   Type     Cycles                              Binary     Onehot 
================================================================================================
32768    32       0-3     3-1    NON      1000000      pass        pass      pass       pass    
32768    32       0-3     3-1    WAW      1000000      pass        pass      pass       pass    
32768    32       0-3     3-1    RAW      1000000      pass        pass      pass       pass    
32768    32       0-3     3-1    RDW      1000000      pass        pass      pass       pass    
32768    32       0-3     3-2    NON      1000000      pass        pass      pass       pass    
32768    32       0-3     3-2    WAW      1000000      pass        pass      pass       pass    
32768    32       0-3     3-2    RAW      1000000      pass        pass      pass       pass    
32768    32       0-3     3-2    RDW      1000000      pass        pass      pass       pass    
32768    32       0-3     3-3    NON      1000000      pass        pass      pass       pass    
32768    32       0-3     3-3    WAW      1000000      pass        pass      pass       pass    
32768    32       0-3     3-3    RAW      1000000      pass        pass      pass       pass    
32768    32       0-3     3-3    RDW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-1    NON      1000000      pass        pass      pass       pass    
32768    32       1-2     3-1    WAW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-1    RAW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-1    RDW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-2    NON      1000000      pass        pass      pass       pass    
32768    32       1-2     3-2    WAW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-2    RAW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-2    RDW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-3    NON      1000000      pass        pass      pass       pass    
32768    32       1-2     3-3    WAW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-3    RAW      1000000      pass        pass      pass       pass    
32768    32       1-2     3-3    RDW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-1    NON      1000000      pass        pass      pass       pass    
32768    32       2-1     3-1    WAW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-1    RAW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-1    RDW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-2    NON      1000000      pass        pass      pass       pass    
32768    32       2-1     3-2    WAW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-2    RAW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-2    RDW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-3    NON      1000000      pass        pass      pass       pass    
32768    32       2-1     3-3    WAW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-3    RAW      1000000      pass        pass      pass       pass    
32768    32       2-1     3-3    RDW      1000000      pass        pass      pass       pass    
